<li>
  {{#link-to "album" album.id class="album"}}
    {{album.artist}} - {{album.title}}
  {{/link-to}}
  ({{release-date date=album.releasedOn}})
  <a href="#" class="delete" {{action "clickDelete"}}>
    x
  </a>
</li>
