{{yield}}

{{input class="artist" value=artist placeholder="Artist"}}
{{input class="title" value=title action="save" on="enter" placeholder="Title"}}
<button {{action "save"}} class="submit">Add Album</button>
