<ul>
  {{album-form action="createAlbum"}}
  {{#each sortedAlbums as |album|}}
    <li>
      <a href="#" class="album">
        {{album.artist}} - {{album.title}}
      </a>
    </li>
  {{/each}}
</ul>
